<launch>
 <!-- 开启机器人底层相关节点  -->
 <include file="$(find turn_on_robot)/launch/turn_on_robot.launch" />
  
   <!-- rslidar  -->
  <include file = "$(find rslidar_pointcloud)/launch/rs_lidar_16.launch"/>
  <include file = "$(find pointcloud_to_laserscan)/launch/pointcloud_to_laserscan.launch"/>
  
 <!-- 设置需要用于导航的地图  -->
 <arg name="map_file" default="$(find turn_on_robot)/map/map_saver.yaml"/>
 <node name="map_server_for_test" pkg="map_server" type="map_server" args="$(arg map_file)">
 </node>

 <!-- 蒙特卡洛定位-->
 <include file="$(find turn_on_robot)/launch/include/amcl_omni.launch" />
 <!-- 导航-->
 <include file="$(find turn_on_robot)/launch/include/tel_local_planner.launch" />
  <node name='send_mark' pkg="turn_on_robot" type="send_mark.py">
 </node>
 
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turn_on_robot)/rviz/navigation.rviz" /> 

</launch>




