<launch>
  
  <!-- 用于robot_state_publisher节点-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0 0 0 0 base_footprint base_link 100" />
  <!-- 用于robot_pose_ekf节点-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0 0 0 0 0 0 base_footprint gyro_link 100" />
  
  <!--坐标变换，需要实测 -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.24 0.00 0.53 0 0 0  base_footprint lidar_frame 100" /> --> 
   <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.24 0.00 0.53 0 0 0  base_footprint rslidar 100" /> 
   <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.4 0.0 0.4 0 0 0   base_footprint camera_link 100" />

  <!-- turn on base_serial 开启底层单片机的控制节点  -->
  <include file="$(find turn_on_robot)/launch/include/base_serial.launch" />
  <!-- turn on ekf 扩张卡尔曼滤波 -->
  <include file="$(find turn_on_robot)/launch/include/robot_pose_ekf.launch" />

   <param name = "robot_description" textfile = "$(find robot_urdf)/urdf/robot.urdf"/> 

  <!-- 读取urdf信息(robot_description) 发布话题：/joint_states-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <!-- 订阅话题：/joint_states，发布小车TF信息-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- 机器人控制平滑包，该官方包不支持全向机器人 -->
  <include file="$(find turn_on_robot)/launch/include/velocity_smoother.launch" />

 </launch>


